In [1]:
import pandas as pd

In [2]:
co2=pd.read_csv("co_blr_aq_lockdown_effect_CSB.csv")
no2=pd.read_csv("no2_blr_aq_lockdown_effect_CSB.csv")
o3=pd.read_csv("o3_blr_aq_lockdown_effect_CSB.csv")
pm10=pd.read_csv("pm10_blr_aq_lockdown_effect_CSB.csv")
pm25=pd.read_csv("pm25_blr_aq_lockdown_effect_CSB.csv")
so2=pd.read_csv("so2_blr_aq_lockdown_effect_CSB.csv")
co2

,Unnamed: 0,location,city,country,utc,local,parameter,value,unit,latitude,longitude,attribution
0,0,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T22:15:00Z,2020-06-20T03:45:00+05:30,co,170,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
1,1,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T21:00:00Z,2020-06-20T02:30:00+05:30,co,150,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
2,2,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T19:30:00Z,2020-06-20T01:00:00+05:30,co,100,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3,3,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T17:30:00Z,2020-06-19T23:00:00+05:30,co,540,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
4,4,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T16:45:00Z,2020-06-19T22:15:00+05:30,co,530,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
...,...,...,...,...,...,...,...,...,...,...,...,...
3025,3025,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T02:15:00Z,2020-02-20T07:45:00+05:30,co,1080,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3026,3026,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T02:00:00Z,2020-02-20T07:30:00+05:30,co,1080,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3027,3027,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T01:45:00Z,2020-02-20T07:15:00+05:30,co,1050,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3028,3028,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T00:30:00Z,2020-02-20T06:00:00+05:30,co,1020,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3029,3029,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T00:00:00Z,2020-02-20T05:30:00+05:30,co,980,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."

In [3]:
co2 = co2.rename(columns = {"value":"co2_value","local":"co2_local"}) 
co2

,Unnamed: 0,location,city,country,utc,co2_local,parameter,co2_value,unit,latitude,longitude,attribution
0,0,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T22:15:00Z,2020-06-20T03:45:00+05:30,co,170,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
1,1,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T21:00:00Z,2020-06-20T02:30:00+05:30,co,150,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
2,2,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T19:30:00Z,2020-06-20T01:00:00+05:30,co,100,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3,3,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T17:30:00Z,2020-06-19T23:00:00+05:30,co,540,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
4,4,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T16:45:00Z,2020-06-19T22:15:00+05:30,co,530,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
...,...,...,...,...,...,...,...,...,...,...,...,...
3025,3025,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T02:15:00Z,2020-02-20T07:45:00+05:30,co,1080,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3026,3026,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T02:00:00Z,2020-02-20T07:30:00+05:30,co,1080,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3027,3027,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T01:45:00Z,2020-02-20T07:15:00+05:30,co,1050,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3028,3028,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T00:30:00Z,2020-02-20T06:00:00+05:30,co,1020,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3029,3029,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T00:00:00Z,2020-02-20T05:30:00+05:30,co,980,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."

In [4]:
co2_value=co2.drop(['Unnamed: 0','location','city',"country","utc","parameter","unit","latitude","longitude","attribution"],axis=1)
co2_value

                      co2_local  co2_value
0     2020-06-20T03:45:00+05:30        170
1     2020-06-20T02:30:00+05:30        150
2     2020-06-20T01:00:00+05:30        100
3     2020-06-19T23:00:00+05:30        540
4     2020-06-19T22:15:00+05:30        530
...                         ...        ...
3025  2020-02-20T07:45:00+05:30       1080
3026  2020-02-20T07:30:00+05:30       1080
3027  2020-02-20T07:15:00+05:30       1050
3028  2020-02-20T06:00:00+05:30       1020
3029  2020-02-20T05:30:00+05:30        980

[3030 rows x 2 columns]

In [5]:
print(co2.shape)
print(co2.longitude.value_counts())
print(co2.latitude.value_counts())

(3030, 12)
77.622813    3030
Name: longitude, dtype: int64
12.917348    3030
Name: latitude, dtype: int64

In [6]:
no2 = no2.rename(columns = {"value":"no2_value","local":"no2_local"}) 
no2

,Unnamed: 0,location,city,country,utc,weekday,no2_local,parameter,no2_value,unit,latitude,longitude,attribution
0,0,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T22:15:00Z,7,2020-06-20T03:45:00+05:30,no2,12.6,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
1,1,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T21:00:00Z,7,2020-06-20T02:30:00+05:30,no2,13.0,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
2,2,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T19:30:00Z,7,2020-06-20T01:00:00+05:30,no2,13.5,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3,3,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T17:30:00Z,6,2020-06-19T23:00:00+05:30,no2,16.2,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
4,4,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T16:45:00Z,6,2020-06-19T22:15:00+05:30,no2,15.1,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3626,3626,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T01:45:00Z,5,2020-02-20T07:15:00+05:30,no2,23.5,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3627,3627,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T01:15:00Z,5,2020-02-20T06:45:00+05:30,no2,23.2,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3628,3628,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T01:00:00Z,5,2020-02-20T06:30:00+05:30,no2,23.4,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3629,3629,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T00:30:00Z,5,2020-02-20T06:00:00+05:30,no2,24.6,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3630,3630,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T00:00:00Z,5,2020-02-20T05:30:00+05:30,no2,22.7,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."

In [7]:
no2_value=no2.drop(['Unnamed: 0','location','city',"country","utc","parameter","unit","latitude","longitude","attribution"],axis=1)
no2_value

      weekday                  no2_local  no2_value
0           7  2020-06-20T03:45:00+05:30       12.6
1           7  2020-06-20T02:30:00+05:30       13.0
2           7  2020-06-20T01:00:00+05:30       13.5
3           6  2020-06-19T23:00:00+05:30       16.2
4           6  2020-06-19T22:15:00+05:30       15.1
...       ...                        ...        ...
3626        5  2020-02-20T07:15:00+05:30       23.5
3627        5  2020-02-20T06:45:00+05:30       23.2
3628        5  2020-02-20T06:30:00+05:30       23.4
3629        5  2020-02-20T06:00:00+05:30       24.6
3630        5  2020-02-20T05:30:00+05:30       22.7

[3631 rows x 3 columns]

In [8]:
print(no2.shape)
print(no2.longitude.value_counts())
print(no2.latitude.value_counts())

(3631, 13)
77.622813    3631
Name: longitude, dtype: int64
12.917348    3631
Name: latitude, dtype: int64

In [9]:
so2 = so2.rename(columns = {"value":"so2_value","local":"so2_local"}) 
so2

,Unnamed: 0,location,city,country,utc,so2_local,parameter,so2_value,unit,latitude,longitude,attribution
0,0,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T13:00:00Z,2020-06-19T18:30:00+05:30,so2,3.8,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
1,1,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T01:00:00Z,2020-06-19T06:30:00+05:30,so2,4.9,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
2,2,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T00:45:00Z,2020-06-19T06:15:00+05:30,so2,4.8,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3,3,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-18T20:00:00Z,2020-06-19T01:30:00+05:30,so2,4.3,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
4,4,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-18T19:30:00Z,2020-06-19T01:00:00+05:30,so2,4.4,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
...,...,...,...,...,...,...,...,...,...,...,...,...
2766,2766,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T02:30:00Z,2020-02-20T08:00:00+05:30,so2,2.8,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
2767,2767,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T02:00:00Z,2020-02-20T07:30:00+05:30,so2,2.7,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
2768,2768,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T01:45:00Z,2020-02-20T07:15:00+05:30,so2,2.7,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
2769,2769,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T01:00:00Z,2020-02-20T06:30:00+05:30,so2,2.6,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
2770,2770,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T00:00:00Z,2020-02-20T05:30:00+05:30,so2,2.4,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."

In [10]:
so2_value=so2.drop(['Unnamed: 0','location','city',"country","utc","parameter","unit","latitude","longitude","attribution"],axis=1)
so2_value

                      so2_local  so2_value
0     2020-06-19T18:30:00+05:30        3.8
1     2020-06-19T06:30:00+05:30        4.9
2     2020-06-19T06:15:00+05:30        4.8
3     2020-06-19T01:30:00+05:30        4.3
4     2020-06-19T01:00:00+05:30        4.4
...                         ...        ...
2766  2020-02-20T08:00:00+05:30        2.8
2767  2020-02-20T07:30:00+05:30        2.7
2768  2020-02-20T07:15:00+05:30        2.7
2769  2020-02-20T06:30:00+05:30        2.6
2770  2020-02-20T05:30:00+05:30        2.4

[2771 rows x 2 columns]

In [11]:
print(so2.shape)
print(so2.longitude.value_counts())
print(so2.latitude.value_counts())

(2771, 12)
77.622813    2771
Name: longitude, dtype: int64
12.917348    2771
Name: latitude, dtype: int64

In [12]:
o3 = o3.rename(columns = {"value":"o3_value","local":"o3_local"}) 
o3

,Unnamed: 0,location,city,country,utc,weekday,o3_local,parameter,o3_value,unit,latitude,longitude,attribution
0,0,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T22:15:00Z,7,2020-06-20T03:45:00+05:30,o3,14.78,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
1,1,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T21:00:00Z,7,2020-06-20T02:30:00+05:30,o3,13.76,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
2,2,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T19:30:00Z,7,2020-06-20T01:00:00+05:30,o3,15.39,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3,3,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T17:30:00Z,6,2020-06-19T23:00:00+05:30,o3,15.88,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
4,4,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T16:45:00Z,6,2020-06-19T22:15:00+05:30,o3,13.13,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3676,3676,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T01:45:00Z,5,2020-02-20T07:15:00+05:30,o3,27.54,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3677,3677,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T01:15:00Z,5,2020-02-20T06:45:00+05:30,o3,26.03,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3678,3678,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T01:00:00Z,5,2020-02-20T06:30:00+05:30,o3,29.87,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3679,3679,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T00:30:00Z,5,2020-02-20T06:00:00+05:30,o3,25.42,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3680,3680,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T00:00:00Z,5,2020-02-20T05:30:00+05:30,o3,26.22,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."

In [13]:
o3_value=o3.drop(['Unnamed: 0','location','city',"country","utc","parameter","unit","latitude","longitude","attribution"],axis=1)
o3_value

      weekday                   o3_local  o3_value
0           7  2020-06-20T03:45:00+05:30     14.78
1           7  2020-06-20T02:30:00+05:30     13.76
2           7  2020-06-20T01:00:00+05:30     15.39
3           6  2020-06-19T23:00:00+05:30     15.88
4           6  2020-06-19T22:15:00+05:30     13.13
...       ...                        ...       ...
3676        5  2020-02-20T07:15:00+05:30     27.54
3677        5  2020-02-20T06:45:00+05:30     26.03
3678        5  2020-02-20T06:30:00+05:30     29.87
3679        5  2020-02-20T06:00:00+05:30     25.42
3680        5  2020-02-20T05:30:00+05:30     26.22

[3681 rows x 3 columns]

In [14]:
print(o3.shape)
print(o3.longitude.value_counts())
print(o3.latitude.value_counts())

(3681, 13)
77.622813    3681
Name: longitude, dtype: int64
12.917348    3681
Name: latitude, dtype: int64

In [15]:
pm10 = pm10.rename(columns = {"value":"pm10_value","local":"pm10_local"}) 
pm10

,Unnamed: 0,location,city,country,utc,pm10_local,parameter,pm10_value,unit,latitude,longitude,attribution
0,0,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T22:15:00Z,2020-06-20T03:45:00+05:30,pm10,28,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
1,1,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T21:00:00Z,2020-06-20T02:30:00+05:30,pm10,30,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
2,2,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T19:30:00Z,2020-06-20T01:00:00+05:30,pm10,35,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3,3,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T17:30:00Z,2020-06-19T23:00:00+05:30,pm10,52,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
4,4,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T16:45:00Z,2020-06-19T22:15:00+05:30,pm10,56,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
...,...,...,...,...,...,...,...,...,...,...,...,...
3774,3774,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T01:45:00Z,2020-02-20T07:15:00+05:30,pm10,102,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3775,3775,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T01:15:00Z,2020-02-20T06:45:00+05:30,pm10,102,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3776,3776,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T01:00:00Z,2020-02-20T06:30:00+05:30,pm10,100,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3777,3777,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T00:30:00Z,2020-02-20T06:00:00+05:30,pm10,100,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3778,3778,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T00:00:00Z,2020-02-20T05:30:00+05:30,pm10,85,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."

In [16]:
pm10_value=pm10.drop(['Unnamed: 0','location','city',"country","utc","parameter","unit","latitude","longitude","attribution"],axis=1)
pm10_value

                     pm10_local  pm10_value
0     2020-06-20T03:45:00+05:30          28
1     2020-06-20T02:30:00+05:30          30
2     2020-06-20T01:00:00+05:30          35
3     2020-06-19T23:00:00+05:30          52
4     2020-06-19T22:15:00+05:30          56
...                         ...         ...
3774  2020-02-20T07:15:00+05:30         102
3775  2020-02-20T06:45:00+05:30         102
3776  2020-02-20T06:30:00+05:30         100
3777  2020-02-20T06:00:00+05:30         100
3778  2020-02-20T05:30:00+05:30          85

[3779 rows x 2 columns]

In [17]:
print(pm10.shape)
print(pm10.longitude.value_counts())
print(pm10.latitude.value_counts())

(3779, 12)
77.622813    3779
Name: longitude, dtype: int64
12.917348    3779
Name: latitude, dtype: int64

In [18]:
pm25 = pm25.rename(columns = {"value":"pm25_value","local":"pm25_local"}) 
pm25

,Unnamed: 0,location,city,country,utc,pm25_local,parameter,pm25_value,unit,latitude,longitude,attribution
0,0,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T22:15:00Z,2020-06-20T03:45:00+05:30,pm25,5,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
1,1,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T21:00:00Z,2020-06-20T02:30:00+05:30,pm25,13,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
2,2,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T19:30:00Z,2020-06-20T01:00:00+05:30,pm25,7,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3,3,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T17:30:00Z,2020-06-19T23:00:00+05:30,pm25,16,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
4,4,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-06-19T16:45:00Z,2020-06-19T22:15:00+05:30,pm25,12,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
...,...,...,...,...,...,...,...,...,...,...,...,...
3755,3755,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T01:45:00Z,2020-02-20T07:15:00+05:30,pm25,63,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3756,3756,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T01:15:00Z,2020-02-20T06:45:00+05:30,pm25,63,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3757,3757,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T01:00:00Z,2020-02-20T06:30:00+05:30,pm25,65,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3758,3758,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T00:30:00Z,2020-02-20T06:00:00+05:30,pm25,65,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."
3759,3759,"Silk Board, Bengaluru - KSPCB",Bengaluru,IN,2020-02-20T00:00:00Z,2020-02-20T05:30:00+05:30,pm25,49,µg/m³,12.917348,77.622813,"[{""url"":""https://app.cpcbccr.com/ccr/#/caaqm-d..."

In [19]:
pm25_value=pm25.drop(['Unnamed: 0','location','city',"country","utc","parameter","unit","latitude","longitude","attribution"],axis=1)
pm25_value

                     pm25_local  pm25_value
0     2020-06-20T03:45:00+05:30           5
1     2020-06-20T02:30:00+05:30          13
2     2020-06-20T01:00:00+05:30           7
3     2020-06-19T23:00:00+05:30          16
4     2020-06-19T22:15:00+05:30          12
...                         ...         ...
3755  2020-02-20T07:15:00+05:30          63
3756  2020-02-20T06:45:00+05:30          63
3757  2020-02-20T06:30:00+05:30          65
3758  2020-02-20T06:00:00+05:30          65
3759  2020-02-20T05:30:00+05:30          49

[3760 rows x 2 columns]

In [20]:
print(pm25.shape)
print(pm25.longitude.value_counts())
print(pm25.latitude.value_counts())

(3760, 12)
77.622813    3760
Name: longitude, dtype: int64
12.917348    3760
Name: latitude, dtype: int64

In [21]:
df_row = pd.concat([co2_value, no2_value],axis=1)
df_row

,co2_local,co2_value,weekday,no2_local,no2_value
0,2020-06-20T03:45:00+05:30,170.0,7,2020-06-20T03:45:00+05:30,12.6
1,2020-06-20T02:30:00+05:30,150.0,7,2020-06-20T02:30:00+05:30,13.0
2,2020-06-20T01:00:00+05:30,100.0,7,2020-06-20T01:00:00+05:30,13.5
3,2020-06-19T23:00:00+05:30,540.0,6,2020-06-19T23:00:00+05:30,16.2
4,2020-06-19T22:15:00+05:30,530.0,6,2020-06-19T22:15:00+05:30,15.1
...,...,...,...,...,...
3626,NaN,NaN,5,2020-02-20T07:15:00+05:30,23.5
3627,NaN,NaN,5,2020-02-20T06:45:00+05:30,23.2
3628,NaN,NaN,5,2020-02-20T06:30:00+05:30,23.4
3629,NaN,NaN,5,2020-02-20T06:00:00+05:30,24.6
3630,NaN,NaN,5,2020-02-20T05:30:00+05:30,22.7

In [22]:
df_row.isnull().sum()

co2_local    601
co2_value    601
weekday        0
no2_local      0
no2_value      0
dtype: int64

In [23]:
df_row1 = pd.concat([df_row, so2_value],axis=1)
df_row1

,co2_local,co2_value,weekday,no2_local,no2_value,so2_local,so2_value
0,2020-06-20T03:45:00+05:30,170.0,7,2020-06-20T03:45:00+05:30,12.6,2020-06-19T18:30:00+05:30,3.8
1,2020-06-20T02:30:00+05:30,150.0,7,2020-06-20T02:30:00+05:30,13.0,2020-06-19T06:30:00+05:30,4.9
2,2020-06-20T01:00:00+05:30,100.0,7,2020-06-20T01:00:00+05:30,13.5,2020-06-19T06:15:00+05:30,4.8
3,2020-06-19T23:00:00+05:30,540.0,6,2020-06-19T23:00:00+05:30,16.2,2020-06-19T01:30:00+05:30,4.3
4,2020-06-19T22:15:00+05:30,530.0,6,2020-06-19T22:15:00+05:30,15.1,2020-06-19T01:00:00+05:30,4.4
...,...,...,...,...,...,...,...
3626,NaN,NaN,5,2020-02-20T07:15:00+05:30,23.5,NaN,NaN
3627,NaN,NaN,5,2020-02-20T06:45:00+05:30,23.2,NaN,NaN
3628,NaN,NaN,5,2020-02-20T06:30:00+05:30,23.4,NaN,NaN
3629,NaN,NaN,5,2020-02-20T06:00:00+05:30,24.6,NaN,NaN
3630,NaN,NaN,5,2020-02-20T05:30:00+05:30,22.7,NaN,NaN

In [24]:
df_row2 = pd.concat([df_row1, o3_value],axis=1)
df_row2

,co2_local,co2_value,weekday,no2_local,no2_value,so2_local,so2_value,weekday,o3_local,o3_value
0,2020-06-20T03:45:00+05:30,170.0,7.0,2020-06-20T03:45:00+05:30,12.6,2020-06-19T18:30:00+05:30,3.8,7,2020-06-20T03:45:00+05:30,14.78
1,2020-06-20T02:30:00+05:30,150.0,7.0,2020-06-20T02:30:00+05:30,13.0,2020-06-19T06:30:00+05:30,4.9,7,2020-06-20T02:30:00+05:30,13.76
2,2020-06-20T01:00:00+05:30,100.0,7.0,2020-06-20T01:00:00+05:30,13.5,2020-06-19T06:15:00+05:30,4.8,7,2020-06-20T01:00:00+05:30,15.39
3,2020-06-19T23:00:00+05:30,540.0,6.0,2020-06-19T23:00:00+05:30,16.2,2020-06-19T01:30:00+05:30,4.3,6,2020-06-19T23:00:00+05:30,15.88
4,2020-06-19T22:15:00+05:30,530.0,6.0,2020-06-19T22:15:00+05:30,15.1,2020-06-19T01:00:00+05:30,4.4,6,2020-06-19T22:15:00+05:30,13.13
...,...,...,...,...,...,...,...,...,...,...
3676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,2020-02-20T07:15:00+05:30,27.54
3677,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,2020-02-20T06:45:00+05:30,26.03
3678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,2020-02-20T06:30:00+05:30,29.87
3679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,2020-02-20T06:00:00+05:30,25.42
3680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,2020-02-20T05:30:00+05:30,26.22

In [25]:
df_row3 = pd.concat([df_row2, pm10_value],axis=1)
df_row3

,co2_local,co2_value,weekday,no2_local,no2_value,so2_local,so2_value,weekday,o3_local,o3_value,pm10_local,pm10_value
0,2020-06-20T03:45:00+05:30,170.0,7.0,2020-06-20T03:45:00+05:30,12.6,2020-06-19T18:30:00+05:30,3.8,7.0,2020-06-20T03:45:00+05:30,14.78,2020-06-20T03:45:00+05:30,28
1,2020-06-20T02:30:00+05:30,150.0,7.0,2020-06-20T02:30:00+05:30,13.0,2020-06-19T06:30:00+05:30,4.9,7.0,2020-06-20T02:30:00+05:30,13.76,2020-06-20T02:30:00+05:30,30
2,2020-06-20T01:00:00+05:30,100.0,7.0,2020-06-20T01:00:00+05:30,13.5,2020-06-19T06:15:00+05:30,4.8,7.0,2020-06-20T01:00:00+05:30,15.39,2020-06-20T01:00:00+05:30,35
3,2020-06-19T23:00:00+05:30,540.0,6.0,2020-06-19T23:00:00+05:30,16.2,2020-06-19T01:30:00+05:30,4.3,6.0,2020-06-19T23:00:00+05:30,15.88,2020-06-19T23:00:00+05:30,52
4,2020-06-19T22:15:00+05:30,530.0,6.0,2020-06-19T22:15:00+05:30,15.1,2020-06-19T01:00:00+05:30,4.4,6.0,2020-06-19T22:15:00+05:30,13.13,2020-06-19T22:15:00+05:30,56
...,...,...,...,...,...,...,...,...,...,...,...,...
3774,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-20T07:15:00+05:30,102
3775,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-20T06:45:00+05:30,102
3776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-20T06:30:00+05:30,100
3777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-20T06:00:00+05:30,100
3778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-20T05:30:00+05:30,85

In [26]:
df_row4 = pd.concat([df_row3, pm25_value],axis=1)
df_row4

,co2_local,co2_value,weekday,no2_local,no2_value,so2_local,so2_value,weekday,o3_local,o3_value,pm10_local,pm10_value,pm25_local,pm25_value
0,2020-06-20T03:45:00+05:30,170.0,7.0,2020-06-20T03:45:00+05:30,12.6,2020-06-19T18:30:00+05:30,3.8,7.0,2020-06-20T03:45:00+05:30,14.78,2020-06-20T03:45:00+05:30,28,2020-06-20T03:45:00+05:30,5.0
1,2020-06-20T02:30:00+05:30,150.0,7.0,2020-06-20T02:30:00+05:30,13.0,2020-06-19T06:30:00+05:30,4.9,7.0,2020-06-20T02:30:00+05:30,13.76,2020-06-20T02:30:00+05:30,30,2020-06-20T02:30:00+05:30,13.0
2,2020-06-20T01:00:00+05:30,100.0,7.0,2020-06-20T01:00:00+05:30,13.5,2020-06-19T06:15:00+05:30,4.8,7.0,2020-06-20T01:00:00+05:30,15.39,2020-06-20T01:00:00+05:30,35,2020-06-20T01:00:00+05:30,7.0
3,2020-06-19T23:00:00+05:30,540.0,6.0,2020-06-19T23:00:00+05:30,16.2,2020-06-19T01:30:00+05:30,4.3,6.0,2020-06-19T23:00:00+05:30,15.88,2020-06-19T23:00:00+05:30,52,2020-06-19T23:00:00+05:30,16.0
4,2020-06-19T22:15:00+05:30,530.0,6.0,2020-06-19T22:15:00+05:30,15.1,2020-06-19T01:00:00+05:30,4.4,6.0,2020-06-19T22:15:00+05:30,13.13,2020-06-19T22:15:00+05:30,56,2020-06-19T22:15:00+05:30,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3774,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-20T07:15:00+05:30,102,NaN,NaN
3775,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-20T06:45:00+05:30,102,NaN,NaN
3776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-20T06:30:00+05:30,100,NaN,NaN
3777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-20T06:00:00+05:30,100,NaN,NaN
3778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-20T05:30:00+05:30,85,NaN,NaN

In [28]:
df_all_values=df_row4.drop(["co2_local","no2_local","so2_local","o3_local","pm25_local","weekday"],axis=1)
df_all_values

,co2_value,no2_value,so2_value,o3_value,pm10_local,pm10_value,pm25_value
0,170.0,12.6,3.8,14.78,2020-06-20T03:45:00+05:30,28,5.0
1,150.0,13.0,4.9,13.76,2020-06-20T02:30:00+05:30,30,13.0
2,100.0,13.5,4.8,15.39,2020-06-20T01:00:00+05:30,35,7.0
3,540.0,16.2,4.3,15.88,2020-06-19T23:00:00+05:30,52,16.0
4,530.0,15.1,4.4,13.13,2020-06-19T22:15:00+05:30,56,12.0
...,...,...,...,...,...,...,...
3774,NaN,NaN,NaN,NaN,2020-02-20T07:15:00+05:30,102,NaN
3775,NaN,NaN,NaN,NaN,2020-02-20T06:45:00+05:30,102,NaN
3776,NaN,NaN,NaN,NaN,2020-02-20T06:30:00+05:30,100,NaN
3777,NaN,NaN,NaN,NaN,2020-02-20T06:00:00+05:30,100,NaN
3778,NaN,NaN,NaN,NaN,2020-02-20T05:30:00+05:30,85,NaN

In [29]:
df_all_values=df_all_values[["pm10_local","co2_value","no2_value","so2_value","o3_value","pm10_value","pm25_value"]]
df_all_values

,pm10_local,co2_value,no2_value,so2_value,o3_value,pm10_value,pm25_value
0,2020-06-20T03:45:00+05:30,170.0,12.6,3.8,14.78,28,5.0
1,2020-06-20T02:30:00+05:30,150.0,13.0,4.9,13.76,30,13.0
2,2020-06-20T01:00:00+05:30,100.0,13.5,4.8,15.39,35,7.0
3,2020-06-19T23:00:00+05:30,540.0,16.2,4.3,15.88,52,16.0
4,2020-06-19T22:15:00+05:30,530.0,15.1,4.4,13.13,56,12.0
...,...,...,...,...,...,...,...
3774,2020-02-20T07:15:00+05:30,NaN,NaN,NaN,NaN,102,NaN
3775,2020-02-20T06:45:00+05:30,NaN,NaN,NaN,NaN,102,NaN
3776,2020-02-20T06:30:00+05:30,NaN,NaN,NaN,NaN,100,NaN
3777,2020-02-20T06:00:00+05:30,NaN,NaN,NaN,NaN,100,NaN
3778,2020-02-20T05:30:00+05:30,NaN,NaN,NaN,NaN,85,NaN

In [32]:
df_all_values["Date"] =list(map(lambda x: x.split("T"), df_all_values['pm10_local']))

C:\Users\somya\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [33]:
df_all_values

,pm10_local,co2_value,no2_value,so2_value,o3_value,pm10_value,pm25_value,Date
0,2020-06-20T03:45:00+05:30,170.0,12.6,3.8,14.78,28,5.0,"[2020-06-20, 03:45:00+05:30]"
1,2020-06-20T02:30:00+05:30,150.0,13.0,4.9,13.76,30,13.0,"[2020-06-20, 02:30:00+05:30]"
2,2020-06-20T01:00:00+05:30,100.0,13.5,4.8,15.39,35,7.0,"[2020-06-20, 01:00:00+05:30]"
3,2020-06-19T23:00:00+05:30,540.0,16.2,4.3,15.88,52,16.0,"[2020-06-19, 23:00:00+05:30]"
4,2020-06-19T22:15:00+05:30,530.0,15.1,4.4,13.13,56,12.0,"[2020-06-19, 22:15:00+05:30]"
...,...,...,...,...,...,...,...,...
3774,2020-02-20T07:15:00+05:30,NaN,NaN,NaN,NaN,102,NaN,"[2020-02-20, 07:15:00+05:30]"
3775,2020-02-20T06:45:00+05:30,NaN,NaN,NaN,NaN,102,NaN,"[2020-02-20, 06:45:00+05:30]"
3776,2020-02-20T06:30:00+05:30,NaN,NaN,NaN,NaN,100,NaN,"[2020-02-20, 06:30:00+05:30]"
3777,2020-02-20T06:00:00+05:30,NaN,NaN,NaN,NaN,100,NaN,"[2020-02-20, 06:00:00+05:30]"
3778,2020-02-20T05:30:00+05:30,NaN,NaN,NaN,NaN,85,NaN,"[2020-02-20, 05:30:00+05:30]"

In [39]:
df_all_values["date"] =list(map(lambda x: x[0], df_all_values['Date']))
df_all_values["time"] =list(map(lambda x: x[1], df_all_values['Date']))

C:\Users\somya\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\somya\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [45]:
df_all_values=df_all_values.drop(["Date","pm10_local"],axis=1)

In [46]:
df_all_values["date"] =list(map(lambda x: x.split("-"), df_all_values['date']))

AttributeError: 'list' object has no attribute 'split'

In [47]:
df_all_values

,co2_value,no2_value,so2_value,o3_value,pm10_value,pm25_value,date,time
0,170.0,12.6,3.8,14.78,28,5.0,"[2020, 06, 20]",03:45:00+05:30
1,150.0,13.0,4.9,13.76,30,13.0,"[2020, 06, 20]",02:30:00+05:30
2,100.0,13.5,4.8,15.39,35,7.0,"[2020, 06, 20]",01:00:00+05:30
3,540.0,16.2,4.3,15.88,52,16.0,"[2020, 06, 19]",23:00:00+05:30
4,530.0,15.1,4.4,13.13,56,12.0,"[2020, 06, 19]",22:15:00+05:30
...,...,...,...,...,...,...,...,...
3774,NaN,NaN,NaN,NaN,102,NaN,"[2020, 02, 20]",07:15:00+05:30
3775,NaN,NaN,NaN,NaN,102,NaN,"[2020, 02, 20]",06:45:00+05:30
3776,NaN,NaN,NaN,NaN,100,NaN,"[2020, 02, 20]",06:30:00+05:30
3777,NaN,NaN,NaN,NaN,100,NaN,"[2020, 02, 20]",06:00:00+05:30
3778,NaN,NaN,NaN,NaN,85,NaN,"[2020, 02, 20]",05:30:00+05:30

In [48]:
df_all_values["year"] =list(map(lambda x: x[0], df_all_values['date']))
df_all_values["month"] =list(map(lambda x: x[1], df_all_values['date']))
df_all_values["day"] =list(map(lambda x: x[2], df_all_values['date']))

In [49]:
df_all_values

,co2_value,no2_value,so2_value,o3_value,pm10_value,pm25_value,date,time,year,month,day
0,170.0,12.6,3.8,14.78,28,5.0,"[2020, 06, 20]",03:45:00+05:30,2020,06,20
1,150.0,13.0,4.9,13.76,30,13.0,"[2020, 06, 20]",02:30:00+05:30,2020,06,20
2,100.0,13.5,4.8,15.39,35,7.0,"[2020, 06, 20]",01:00:00+05:30,2020,06,20
3,540.0,16.2,4.3,15.88,52,16.0,"[2020, 06, 19]",23:00:00+05:30,2020,06,19
4,530.0,15.1,4.4,13.13,56,12.0,"[2020, 06, 19]",22:15:00+05:30,2020,06,19
...,...,...,...,...,...,...,...,...,...,...,...
3774,NaN,NaN,NaN,NaN,102,NaN,"[2020, 02, 20]",07:15:00+05:30,2020,02,20
3775,NaN,NaN,NaN,NaN,102,NaN,"[2020, 02, 20]",06:45:00+05:30,2020,02,20
3776,NaN,NaN,NaN,NaN,100,NaN,"[2020, 02, 20]",06:30:00+05:30,2020,02,20
3777,NaN,NaN,NaN,NaN,100,NaN,"[2020, 02, 20]",06:00:00+05:30,2020,02,20
3778,NaN,NaN,NaN,NaN,85,NaN,"[2020, 02, 20]",05:30:00+05:30,2020,02,20

In [50]:
df_all_values["Time"] =list(map(lambda x: x.split("+"), df_all_values['time']))

In [51]:
df_all_values

,co2_value,no2_value,so2_value,o3_value,pm10_value,pm25_value,date,time,year,month,day,Time
0,170.0,12.6,3.8,14.78,28,5.0,"[2020, 06, 20]",03:45:00+05:30,2020,06,20,"[03:45:00, 05:30]"
1,150.0,13.0,4.9,13.76,30,13.0,"[2020, 06, 20]",02:30:00+05:30,2020,06,20,"[02:30:00, 05:30]"
2,100.0,13.5,4.8,15.39,35,7.0,"[2020, 06, 20]",01:00:00+05:30,2020,06,20,"[01:00:00, 05:30]"
3,540.0,16.2,4.3,15.88,52,16.0,"[2020, 06, 19]",23:00:00+05:30,2020,06,19,"[23:00:00, 05:30]"
4,530.0,15.1,4.4,13.13,56,12.0,"[2020, 06, 19]",22:15:00+05:30,2020,06,19,"[22:15:00, 05:30]"
...,...,...,...,...,...,...,...,...,...,...,...,...
3774,NaN,NaN,NaN,NaN,102,NaN,"[2020, 02, 20]",07:15:00+05:30,2020,02,20,"[07:15:00, 05:30]"
3775,NaN,NaN,NaN,NaN,102,NaN,"[2020, 02, 20]",06:45:00+05:30,2020,02,20,"[06:45:00, 05:30]"
3776,NaN,NaN,NaN,NaN,100,NaN,"[2020, 02, 20]",06:30:00+05:30,2020,02,20,"[06:30:00, 05:30]"
3777,NaN,NaN,NaN,NaN,100,NaN,"[2020, 02, 20]",06:00:00+05:30,2020,02,20,"[06:00:00, 05:30]"
3778,NaN,NaN,NaN,NaN,85,NaN,"[2020, 02, 20]",05:30:00+05:30,2020,02,20,"[05:30:00, 05:30]"

In [52]:
df_all_values["TIME"] =list(map(lambda x: x[0], df_all_values['Time']))
df_all_values

,co2_value,no2_value,so2_value,o3_value,pm10_value,pm25_value,date,time,year,month,day,Time,TIME
0,170.0,12.6,3.8,14.78,28,5.0,"[2020, 06, 20]",03:45:00+05:30,2020,06,20,"[03:45:00, 05:30]",03:45:00
1,150.0,13.0,4.9,13.76,30,13.0,"[2020, 06, 20]",02:30:00+05:30,2020,06,20,"[02:30:00, 05:30]",02:30:00
2,100.0,13.5,4.8,15.39,35,7.0,"[2020, 06, 20]",01:00:00+05:30,2020,06,20,"[01:00:00, 05:30]",01:00:00
3,540.0,16.2,4.3,15.88,52,16.0,"[2020, 06, 19]",23:00:00+05:30,2020,06,19,"[23:00:00, 05:30]",23:00:00
4,530.0,15.1,4.4,13.13,56,12.0,"[2020, 06, 19]",22:15:00+05:30,2020,06,19,"[22:15:00, 05:30]",22:15:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3774,NaN,NaN,NaN,NaN,102,NaN,"[2020, 02, 20]",07:15:00+05:30,2020,02,20,"[07:15:00, 05:30]",07:15:00
3775,NaN,NaN,NaN,NaN,102,NaN,"[2020, 02, 20]",06:45:00+05:30,2020,02,20,"[06:45:00, 05:30]",06:45:00
3776,NaN,NaN,NaN,NaN,100,NaN,"[2020, 02, 20]",06:30:00+05:30,2020,02,20,"[06:30:00, 05:30]",06:30:00
3777,NaN,NaN,NaN,NaN,100,NaN,"[2020, 02, 20]",06:00:00+05:30,2020,02,20,"[06:00:00, 05:30]",06:00:00
3778,NaN,NaN,NaN,NaN,85,NaN,"[2020, 02, 20]",05:30:00+05:30,2020,02,20,"[05:30:00, 05:30]",05:30:00

In [54]:
df_all_values=df_all_values.drop(["date","time","Time"],axis=1)
df_all_values

KeyError: "['date' 'time'] not found in axis"

In [55]:
df_all_values

,co2_value,no2_value,so2_value,o3_value,pm10_value,pm25_value,year,month,day,Time,TIME
0,170.0,12.6,3.8,14.78,28,5.0,2020,06,20,"[03:45:00, 05:30]",03:45:00
1,150.0,13.0,4.9,13.76,30,13.0,2020,06,20,"[02:30:00, 05:30]",02:30:00
2,100.0,13.5,4.8,15.39,35,7.0,2020,06,20,"[01:00:00, 05:30]",01:00:00
3,540.0,16.2,4.3,15.88,52,16.0,2020,06,19,"[23:00:00, 05:30]",23:00:00
4,530.0,15.1,4.4,13.13,56,12.0,2020,06,19,"[22:15:00, 05:30]",22:15:00
...,...,...,...,...,...,...,...,...,...,...,...
3774,NaN,NaN,NaN,NaN,102,NaN,2020,02,20,"[07:15:00, 05:30]",07:15:00
3775,NaN,NaN,NaN,NaN,102,NaN,2020,02,20,"[06:45:00, 05:30]",06:45:00
3776,NaN,NaN,NaN,NaN,100,NaN,2020,02,20,"[06:30:00, 05:30]",06:30:00
3777,NaN,NaN,NaN,NaN,100,NaN,2020,02,20,"[06:00:00, 05:30]",06:00:00
3778,NaN,NaN,NaN,NaN,85,NaN,2020,02,20,"[05:30:00, 05:30]",05:30:00

In [56]:
df_all_values.isnull().sum()

co2_value      749
no2_value      148
so2_value     1008
o3_value        98
pm10_value       0
pm25_value      19
year             0
month            0
day              0
Time             0
TIME             0
dtype: int64

In [57]:
df_all_values['year'].value_counts()

2020    3779
Name: year, dtype: int64

In [58]:
df_all_values['month'].value_counts()

04    1526
03    1222
02     460
05     337
06     234
Name: month, dtype: int64